<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Vibe Tale</title>
  <link rel="icon" href="logo.png" type="image/png">
</head>
<style>
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
    letter-spacing: 14px;
}
h1 {
    font-weight: 400;
}
.center{
  text-align: center;
}
</style>
<body>

  <%- include('./partials/nav') %>

  <div class="container center">
    <h1 class="mt-5">Welcome to VibeTale blog!</h1>
    <p>Where stories meet your vibe.</p>
  </div>
  </div>
  <div class="container mt-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gap-0.5
    ">
      <% blogs.forEach(blog => { %>
        <div class="col">
      <div class="card mt-2" style="width: 16rem; height: 16rem; ">
        <img src="<%=blog.coverImageURL%>" style="height: 70%;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>
